html {
	font-size: 15px;

	width: 100%;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: #121212;
	background: url("img/background.jpg");
}

.page {
	position: relative;
	
	
	margin: 20px auto;
	background-color: #eeee;
	border: 2px solid #eee;
}

*.
*:before,
*:after {
	box-sizing: border-box;
}
.container {
	display: flex;
	max-width: 1400px;
	margin: 0 auto;
}


/*Header*/

.header {
	padding: 10px;
	border-bottom: 2px solid darkorange;
	background-color: #ccc;
	

}

.header-title {
	
	margin: 5px;
	color: #F58F17;
	font-size: 30px;
	text-align: center;
}

.header-subtitle {
	margin: 0;
	color: #BD6E11;
	font-size: 24px;
	text-align: center;
	font-weight: normal;
}

/* Nav ==============*/

.nav {
	display: flex;
	justify-content: center;
	text-align: center;

}

.nav-link {
	
	font-size: 1.3em;

	padding: 8px 12px;
	background-color: #612A01;
	color: #EDBC13;
	text-decoration: none;

}

.nav-link:hover {
	text-decoration: underline;
	background-color: #7d9baf;

	transition: background-color 0.2s linear

}

.my-active-link {
	font-size: 1.3em;

	padding: 8px 12px;
	background-color: #bea0ba;
	color: #000000;
	text-decoration: none;

}


/* ========= Feedback =========== */

.feedback-block {
	
	max-width: 100%;
	height: 100%;
	background-color: #ac7760;
	overflow: hidden;
}

.feedback {
	padding: 20px 5px 20px 5px;


}

.feedback-photo {
	padding-top: 100px;

	width: 25%;
	height: 35%;
	
	border-radius: 50px 50px 50px 50px; ;
}

.cat-with-feather {
	padding-left: 7px;
}


/*form =============*/

.form {
	max-width: 500px;
	padding: 20px;
	margin: auto;

	background-color: #e7e6e4;

	border-radius: 45px 40px 45px 40px;
}

.form-group {
	margin-bottom: 15px;
}
.form-input {

	padding: 5px;
	border: 1px solid #ccc;

	width: 100%;

	font-family: Arial, sans-serif ;
	font-size: 15px;

}

.form-input:focus {
	outline: none;
	
	background-color: #ccc;
}

.legend {
	padding: 10px;
	font-size: 25px;

}

.form-textarea {
	min-width: 180px ;
	max-width: 400px;
	max-height: 500px;
	min-height: 100px;

	width: 100%;
	padding: 5px;
	border: 1px solid #ccc;

}

.fieldset {
	
	padding:  20px;

	margin-bottom: 20px;

	border-left-color: #ffffff;
	border-right-color: #c4bcb7;
	
	border-top-color: #612a01;
	border-bottom-color: #d3bed4;

	border-top-width: 1px;
	border-left-width: 10px;
	border-right-width: 3px;
	border-bottom-width: 4px;

	border-top-style: dashed;
	border-bottom-style: solid;
	border-right-style: dotted;
	border-left-style: groove;
}



/*Content ===============*/

.content {
	padding: 20px;

}

.content-title {
	margin: 0;
	margin-bottom: 15px;
	font-size: 24px;
	text-align: center;
}
.content-text {
	margin: 20px;
	font-size: 20px;
}

.facts-text {
	padding: 20px;
	background-color: #E6E6F4;
	margin-left: 100px;
}

/* Hello-words ==================== */

.hello-words {
	margin: 1rem;

	display: flex;
}

.hello-item1,
.hello-item2 {
	display: flex;

	font-family: Tahoma, sans-serif;
	

	 padding: 20px;

}

.hello-item2 {
	font-size: 1.6rem;
	color: #DF7208;
	box-shadow: 4px 7px 13px 0px rgb(0 0 0 / 50%);
}




/*img ============*/

.img {
		display: flex;
		float: left;
}

.cat {
	max-width: 35%;
	max-height: 35%;
	border: 2px solid #ccc;
	display: flex;
	
}

/*.heart {
	position: absolute;
	top: 388px;
	right: 45px;
	width: 35%;
	height: auto;

	padding: 4px;
}*/

.cat2 {
	position: absolute;
	top: 500px;
	right: 45px;
	width: 50%;
	height: auto;

	padding: 4px;
}

.my-owners {
	max-width: 40%;
	max-height: 40%;
	border: 2px solid #121212;
	display: flex;
	margin-bottom: 10px;
}

.food {
	height: 30%;
	width: 30%;
}



/* Sidebar ===========*/

.sidebar{ 

	position: relative;
	background: linear-gradient(to bottom, #be9fba, #ccc);
	padding: 0 10px;
	height: 660px;

	border-radius: 30px 30px 30px 30px ;

}

.sidebar-content {
	width: 180px;
}

.sidebar-title {
	font-size: 1.2rem;
	font-weight: bold;
	padding: 1.5rem;
}

.sidebar-item {
	display: block;
	font-size: 0.8rem;
	font-family: Arial, sans-serif;
	margin: 3px auto;
	padding: 8px 12px;
	background-color: #612A01;
	color: #EDBC13;
	text-decoration: none;
}

.sidebar-item:hover {
	text-decoration: underline;
	background-color: #7d9baf;

	transition: background-color 0.2s linear

}

/*Table ============*/

.table {
	width: 100%;
	border-top: 1px solid #095ED1;
	border-collapse: collapse;
	table-layout: fixed;
}

.table th {
	
	padding: 5px 10px 8px 15px;
	text-align: left;
	color: #4F4E44;
	font-size: 20px;
}

.table td {
	text-align: left;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border: 0;
}
.table tfoot td{
	text-align: center;
}







/*footer =================*/

.footer {
	
	margin: 0 auto;
	padding: 20px;
	background-color: #e7e6e4;

	max-width: 800px 

	justify-content: space-between;
	
}

.footer-inner {
	margin-right: 25px;
	display: flex;
	justify-content: space-between;
}

.footer-div {
	width: 200px;
	height: 80px;
	text-align: center;

	background-color: #fdbbff;
	color: black;
	text-decoration: none;
}

.footer-link {
	font-size: 1rem;
	color: #3d143d;
	text-decoration: none;
}

.footer-link:hover {
	text-decoration: underline;
}


/*=======Gallery=============*/

.content-photos {
	
	padding-left: 30px;
	/*width: 100%;*/

	border: 3px solid grey;
	}

.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  width: 25%;

  display: inline-block;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: 100%;
}

.desc {
  text-align: center;
  width: 100%;
  height: 100%;

  font-size: 1.6em;
}

/*========== flex-item =======*/
.flex-item {
   

    flex-grow: 1;
    flex-basis: 0;
}

/*=========== Video ==========*/

.video {
	margin: 20px 30px 40px 75px;
	width: 85%;
	
}

.videos {
	margin: 0 auto;
}

.video-box {
	
	width: 100%;
	height: 100%;
}

.video-inner {

}




@media (max-width: 850px) {

	.sidebar {
		display: none;
	}

	.content-text,
	.facts-text {
		font-size: 24px;
	}

	.hello-words {
		display: none;
	}

    .flex-item {
        flex-basis: 50%;
    }
}

@media (max-width: 800px) {
	.feedback-photo {
		display: none;
	}

	.feedback {
		margin: 0px auto;
	}
	.desc {
		display: none;
	}
}

@media (max-width: 600px) {
	.food {
   	 width: 50%;
   }
}

@media (max-width: 400px) {
	.feedback-block {
	margin: 0 auto;
	}
	.video {
   	margin: 5px 10px 20px 35px;
   }
   .facts-text {
   	margin-left: 0px;
   }

   .food {
   	width: 80%;
   }

}