<main class="content">
  <h3 class="content-title">Мои хозяева</h3>
  <button class="modal-button">Open modal window</button>
  <div class="content-photos">
    <div class="gallery flex-item">
      <a target="_blank" href="../../assets/img/6.jpg">
        <img src="../../assets/img/6.jpg" alt="Катя, я и Хозяин" />
      </a>
      <p class="desc">Катя, я и Хозяин</p>
    </div>

    <div class="gallery flex-item">
      <a target="_blank" href="../../assets/img/11.jpg">
        <img src="../../assets/img/11.jpg" alt="" />
      </a>
      <p class="desc">я и Хозяин</p>
    </div>

    <div class="gallery flex-item">
      <a target="_blank" href="../../assets/img/7.jpg">
        <img src="../../assets/img/7.jpg" alt="" />
      </a>
      <p class="desc">мне больше нравится рыжий</p>
    </div>

    <div class="gallery flex-item">
      <a target="_blank" href="../../assets/img/3.jpg">
        <img src="../../assets/img/3.jpg" alt="" />
      </a>
      <p class="desc">я на подушке</p>
    </div>

    <div class="gallery flex-item">
      <a target="_blank" href="../../assets/img/5.jpg">
        <img src="../../assets/img/5.jpg" alt="" />
      </a>
      <p class="desc">я и нога Кати</p>
    </div>

    <div class="gallery flex-item">
      <a target="_blank" href="../../assets/img/12.jpeg">
        <img src="../../assets/img/12.jpeg" alt="" />
      </a>
      <p class="desc">я и хозяин</p>
    </div>

    <div class="gallery flex-item">
      <a target="_blank" href="../../assets/img/13.jpeg">
        <img src="../../assets/img/13.jpeg" alt="Катя, я и Хозяин" />
      </a>
      <p class="desc">я и нога Кати</p>
    </div>

    <div class="gallery flex-item">
      <a target="_blank" href="../../assets/img/14.jpeg">
        <img src="../../assets/img/14.jpeg" alt="Катя, я и Хозяин" />
      </a>
      <p class="desc">зайдите позже</p>
    </div>

    <div class="gallery flex-item">
      <a target="_blank" href="../../assets/img/15.jpeg">
        <img src="../../assets/img/15.jpeg" alt="Катя, я и Хозяин" />
      </a>
      <p class="desc">любимая подушка</p>
    </div>

    <div class="gallery flex-item">
      <a target="_blank" href="../../assets/img/16.jpeg">
        <img src="../../assets/img/16.jpeg" alt="Катя, я и Хозяин" />
      </a>
      <p class="desc">я не давал разрешения на фото!</p>
    </div>

    <div class="gallery flex-item">
      <a target="_blank" href="../../assets/img/17.jpeg">
        <img src="../../assets/img/17.jpeg" alt="Катя, я и Хозяин" />
      </a>
      <p class="desc">вечер с любимой резиночкой</p>
    </div>

    <div class="gallery flex-item">
      <a target="_blank" href="../../assets/img/18.jpeg">
        <img src="../../assets/img/18.jpeg" alt="Катя, я и Хозяин" />
      </a>
      <p class="desc">мой высокий балкон</p>
    </div>
    <div class="gallery flex-item">
      <a target="_blank" href="../../assets/img/4.jpg">
        <img src="../../assets/img/4.jpg" alt="Катя, я и Хозяин" />
      </a>
      <p class="desc">приветствую тебя, кожаный</p>
    </div>

    <div class="gallery flex-item">
      <a target="_blank" href="../../assets/img/10.jpg">
        <img src="../../assets/img/10.jpg" alt="Катя, я и Хозяин" />
      </a>
      <p class="desc">мой балкон на 3-тьем этаже</p>
    </div>

    <div class="gallery flex-item">
      <a target="_blank" href="../../assets/img/9.jpg">
        <img src="../../assets/img/9.jpg" alt="Катя, я и Хозяин" />
      </a>
      <p class="desc">а это ещё что за фото?!</p>
    </div>

    <div class="gallery flex-item">
      <a target="_blank" href="../../assets/img/2.jpg">
        <img src="../../assets/img/2.jpg" alt="Катя, я и Хозяин" />
      </a>
      <p class="desc">ложкой снег мешаяя, ночь идёёт большааяя</p>
    </div>
  </div>

  <div class="videos">
    <h3 class="content-title">Видео про меня и хозяев</h3>
    <div class="video-inner flex-item">
      <div class="video-box">
        <div class="desc">Я и ковёр</div>
        <video
          class="video"
          controls
          poster="../../assets/img/black-poster.jpg"
        >
          <source src="../../assets/video/newcarpet.mp4" type="video/mp4" />
        </video>
      </div>

      <div class="video-box">
        <p class="desc">Я и переноска</p>
        <video
          class="video"
          controls
          poster="../../assets/img/black-poster.jpg"
        >
          <source src="../../assets/video/playing.mp4" type="video/mp4" />
        </video>
      </div>

      <div class="video-box">
        <p class="desc">Я и хозяин</p>
        <video
          class="video"
          controls
          poster="../../assets/img/black-poster.jpg"
        >
          <source src="../../assets/video/slide.mp4" type="video/mp4" />
        </video>
      </div>

      <div class="video-box">
        <p class="desc">Родственницы</p>
        <video
          class="video"
          controls
          poster="../../assets/img/black-poster.jpg"
        >
          <source src="../../assets/video/relatives.mp4" type="video/mp4" />
        </video>
      </div>

      <div class="video-box">
        <p class="desc">Мой домик</p>
        <video
          class="video high-video"
          controls
          poster="../../assets/img/black-poster.jpg"
        >
          <source src="../../assets/video/scared.mp4" type="video/mp4" />
        </video>
      </div>

      <div class="video-box">
        <p class="desc">Мой столбик</p>
        <video
          class="video high-video"
          controls
          poster="../../assets/img/black-poster.jpg"
        >
          <source src="../../assets/video/iwasdrunk.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>
</main>
<div class="sidebar-content">
  <p class="content-title sidebar-title">Сайдбар</p>
  <a class="sidebar-item" href="#">Главная</a>
  <a class="sidebar-item" href="#my-owners">Мои хозяева</a>
  <a class="sidebar-item" href="#feedback">Контакты</a>
  <img class="img cat2" src="../../assets/img/cat2.svg" />
</div>
