

*:before,
*:after {
	box-sizing: border-box;
}





/* ========= Feedback =========== */

.feedback-block {

	max-width: 1200px;
	height: 100%;
	background-color: #ac7760;
	overflow: hidden;
}

.feedback {
	padding: 20px 5px 20px 5px;


}

.feedback-photo {
	padding-top: 100px;

	width: 25%;
	height: 35%;

	border-radius: 50px 50px 50px 50px; ;
}

.cat-with-feather {
	padding-left: 50px;
}


/*form =============*/

.form {
	max-width: 500px;
	padding: 20px;
	margin: 0 auto;

	background-color: #e7e6e4;

	border-radius: 45px 40px 45px 40px;
}

.form-group {
	margin-bottom: 15px;
}
.form-input {

	padding: 5px;
	border: 1px solid #ccc;

	width: 100%;

	font-family: Arial, sans-serif ;
	font-size: 15px;

}

.form-input:focus {
	outline: none;

	background-color: #ccc;
}

.legend {
	padding: 10px;
	font-size: 25px;

}

.form-textarea {
	min-width: 180px ;
	max-width: 400px;
	max-height: 500px;
	min-height: 100px;

	width: 100%;
	padding: 5px;
	border: 1px solid #ccc;

}

.fieldset {

	padding:  20px;

	margin-bottom: 20px;

	border-left-color: #ffffff;
	border-right-color: #c4bcb7;

	border-top-color: #612a01;
	border-bottom-color: #d3bed4;

	border-top-width: 1px;
	border-left-width: 10px;
	border-right-width: 3px;
	border-bottom-width: 4px;

	border-top-style: dashed;
	border-bottom-style: solid;
	border-right-style: dotted;
	border-left-style: groove;
}





/*img ============*/

.img {
		display: flex;
		float: left;
}

.cat {
	max-width: 35%;
	max-height: 35%;
	border: 2px solid #ccc;
	display: flex;

}

.cat2 {
	position: absolute;
	top: 500px;
	right: 45px;
	width: 50%;
	height: auto;

	padding: 4px;
}

.food {
	height: 30%;
	width: 30%;
}





/*Table ============*/

.table {
	width: 100%;
	border-top: 1px solid #095ED1;
	border-collapse: collapse;
	table-layout: fixed;
}

.table th {

	padding: 5px 10px 8px 15px;
	text-align: left;
	color: #4F4E44;
	font-size: 20px;
}

.table td {
	text-align: left;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border: 0;
}
.table tfoot td{
	text-align: center;
}


/*========== flex-item =======*/
.flex-item {


    flex-grow: 1;
    flex-basis: 200px;
}


@media (max-width: 800px) {
	.feedback-photo {
		display: none;
	}

	.feedback {
		margin: 0px auto;
	}
	.desc {
		display: none;
	}
}

@media (max-width: 600px) {
	.food {
   	 width: 50%;
   }
}

@media (max-width: 400px) {
	.feedback-block {
	margin: 0 auto;
	}
	.video {
   	margin: 5px 10px 20px 35px;
   }
   .facts-text {
   	margin-left: 0px;
   }

   .food {
   	width: 80%;
   }

}